  <div class="container-fluid pt-2 pb-3">
      <div class="tweet row align-items-center">
          <div class="photo col-lg-2">
              <%= userphoto(@user) %>
          </div>

          <div class="content col-lg-10">
              <div class="row">
                  <div class="tweet-text col-lg-9">
                      <div class="text-muted">
                          <h6 class="text-capitalize font-weight-bold"> <%=tweet.author.fullname %> </h6>
                          <p class="text-capitalize font-weight-light"> <%= tweet.text %> </p>
                      </div>
                  </div>

                  <div class="tweet-time col-lg-3">
                      <div class="time text-right">
                          <small class="text-capitalize font-weight-light "> <%= diff %> </small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>